<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<meta charset="UTF-8">
<title>Lista de Tarefas</title>
</head>
<body>
	<h1 class="display-3 text-center">Lista de Afazeres</h1>
	<div class="text-center">
		<a href="/newtask" class="btn btn-success" data-toggle="tooltip"
			data-placement="bottom" title="Clique aqui para cadastrar uma tarefa">Cadastrar
			Tarefa</a>
	</div>
	<br />
	<div class="container col-8">
		<div class="table table-hover">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Descrição</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : ${tasks}">
						<td><p th:text="${task.name}" /></td>
						<td><p th:text="${task.description}" /></td>
						<td>
							<form action="#" th:action="@{'/delete/{id}'(id=${task.id})}"
								th:method="post">
								<button type="submit" id="submitButton" class="btn btn-danger"
									data-toggle="tooltip" data-placement="bottom"
									title="Clique aqui para deletar esta tarefa">Deletar</button>
							</form>
						</td>
						<td>
							<form action="#" th:action="@{'/delete/{id}'(id=${task.id})}"
								th:method="post">
								<button type="submit" id="submitButton" class="btn btn-primary"
									data-toggle="tooltip" data-placement="bottom"
									title="Clique aqui para editar esta tarefa">Editar</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>