<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<meta charset="UTF-8">
<title>Lista de Tarefas</title>
</head>
<body>
	<h1 class="display-3 text-center">Lista de Afazeres</h1>
	<div class="text-center">
		<a href="/newtask" class="btn btn-success" data-toggle="tooltip"
			data-placement="bottom" title="Clique aqui para cadastrar uma tarefa">Cadastrar
			Tarefa</a>
	</div>
	<br />
	<div class="container col-8">
		<div class="table table-hover">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Descrição</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="task : ${tasks}">
						<td><p th:text="${task.name}" /></td>
						<td><p th:text="${task.description}" /></td>
						<td>
							<form action="#" th:action="@{'/delete/{id}'(id=${task.id})}"
								th:method="post">
								<button type="submit" id="submitButton" class="btn btn-danger"
									data-toggle="tooltip" data-placement="bottom"
									title="Clique aqui para deletar esta tarefa">Deletar</button>
							</form>
						</td>
						<td>
							<form action="#" th:action="@{'/edit/{id}'(id=${task.id})}"
								th:method="post">
								<button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#exampleModal"
									th:data-id="${task.id}" th:data-name="${task.name}"
									th:data-description="${task.description}">Editar</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Salvar Tarefa</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="#" th:action="@{/edit}" method="post">
					<div class="modal-body">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Nome:</label>
							<input type="text" class="form-control" name="name" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Descrição:</label>
							<textarea class="form-control" name="description" id="recipient-description"></textarea>
							<input hidden type="text" class="form-control" name="id" id="recipient-id">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery-3.5.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript">
		$('#exampleModal').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Button that triggered the modal
		  var recipientId = button.data('id') // Extract info from data-* attributes
		  var recipientName = button.data('name')
		  var recipientDescription = button.data('description')
		  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		  var modal = $(this)
		  modal.find('#recipient-id').val(recipientId)
		  modal.find('#recipient-name').val(recipientName)
		  modal.find('#recipient-description').val(recipientDescription)})
	</script>
</body>
</html>