<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.css">
<meta charset="UTF-8">
<title>Nova Tarefa</title>
</head>
<body>
	<h1>Cadastrar Tarefa</h1>
	<form method="post">
		<label>Nome: </label>
		<input type="text" value="" name="name">
		<label>Descrição: </label>
		<input type="text" value="" name="description">
		<button name="action" value="save" type="submit" >Salvar</button>
		<button onclick="location.href='/'" type="button">Cancelar</button>
	</form>
</body>

</html>